.gradient {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    90deg,
    rgba(4, 85, 254, 1) 0%,
    rgba(3, 63, 188, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(4, 85, 254, 1) 0%,
    rgba(3, 63, 188, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(4, 85, 254, 1) 0%,
    rgba(3, 63, 188, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#033FBC', endColorstr='#0455FE', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    90deg,
    rgba(4, 85, 254, 1) 0%,
    rgba(3, 63, 188, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(4, 85, 254, 1) 0%,
    rgba(3, 63, 188, 1) 100%
  );
}

.coinShadow {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
