@font-face {
  font-family: 'DaxlinePro';
  font-weight: 700;
  src: local('DaxlinePro'), url('./Fonts/DaxlinePro-Bold.woff') format('woff');
}

@font-face {
  font-family: 'DaxlinePro';
  font-weight: 900;
  src: local('DaxlinePro'),
    url('./Fonts/DaxlinePro-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'DaxlinePro';
  font-weight: 300;
  src: local('DaxlinePro'), url('./Fonts/DaxlinePro-Light.woff') format('woff');
}

@font-face {
  font-family: 'DaxlinePro';
  font-weight: 500;
  src: local('DaxlinePro'), url('./Fonts/DaxlinePro-Medium.woff') format('woff');
}

@font-face {
  font-family: 'DaxlinePro';
  src: local('DaxlinePro'), url('./Fonts/DaxlinePro.woff') format('woff');
}

body {
  font-family: 'DaxlinePro !important';
  font-weight: 300;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
